html{
    background-color: whitesmoke;
}
.row{
    display: grid;
    border: 2px teal solid;
    width: 100%;
    height: 100%;
    background-color: yellow;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    grid-gap: 10px;
}
#A{
    border: 2px black solid;
    font-style: italic;
}
#B{
    border: 2px black solid;
    font-style: italic;
}
#C{
    border: 2px black solid;
    font-style: italic;
}
h1{
    color: black;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 30px;
    text-align: center;
}
h2{
    text-align: right;
}
@media(min-width: 1200px){
    #C{
        width: 100%;
    }
}
@media(min-width: 991px) and (max-width: 1199px){
    #C{
        width: 1000%;
    }
}