/* color pallete 
#999999 - mid tone grey background of p
#d59898 - pink-ish background of Chicken
#c14543 - reddish beef color
#e5d198 - yellowish sushi color
*/


/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .section {
    border: 1px solid black;
    background-color: #999999;
    width: 90%;
    height: 250px;
    margin: 10px 0px 15px 15px;
    padding: 15px 15px 15px 15px;
    
  }
  
  h2 {
    text-align: center;
    border: 1px solid black;
    padding: 0px 10px 0px 10px;
    float: right;
    margin-top: -15px;
    margin-right: -15px;
    width:150px;
    }
  
  #pink {
      background-color: #d59898
  }
  
  #red {
      color: white;
      background-color: #c14543
  }
  
  #yellow {
      background-color: #e5d198
  
  }
  
  p {
      margin-top: 30px;
  
  }
  
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }
  
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-6, .col-lg-12 {
      float: left;
      border: 1px;
    }
    .col-lg-6 {
      width: 33.33%;
     }
    .col-lg-12 {
      width: 33.33%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
      float: left;
      border: 1px;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  
  /********** Small devices only **********/
  @media(max-width: 767pxpx) {
    .col-sm-6, .col-sm-12 {
      float: left;
      border: 1px;
     }
    .col-sm-6 {
      width: 100%;
    }
    .col-sm-12 {
      width: 100%;
    }
   }